@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
* {
  font-family: Arial;
}

body {
  cursor: url("images/cursor2.png"), auto;
}

.container {
  border: 1px solid black;
  width: 928px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.5);
}
.container .card {
  display: grid;
  grid-template-rows: 50px 2fr 1fr 70px;
  align-items: center;
  border-right: 1px solid black;
}
.container .card:last-child {
  border-right: none;
}
.container .card [data-card="1"] {
  align-self: start;
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container .card [data-card="1"] .price {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
.container .card [data-card="1"] .price h3, .container .card [data-card="1"] .price p {
  margin: 0;
}
.container .card [data-card="1"] .price h3 {
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  padding: 3px 0;
}
.container .card [data-card="1"] .price p {
  padding: 5px 0 15px;
}
.container .card [data-card="1"] .price .colortext {
  color: #0E9A0B;
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
.container .card [data-card="2"] {
  align-self: start;
}
.container .card hr {
  background-color: #00BCEB;
  width: 238px;
  border: 1px solid #00BCEB;
}

.checkmark, .price, .size, [data-list] {
  margin: 0 20px;
}

.checkmark {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px;
  leading-trim: NONE;
  line-height: 21px;
  letter-spacing: 0px;
}
.checkmark::after {
  content: "";
  position: absolute;
  left: -15px;
  top: -5px;
  width: 7px;
  height: 19px;
  border: solid #0E9A0B;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.head {
  background-color: #0D274D;
  color: white;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 13px;
  height: -webkit-fill-available;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: -1px;
}

.size {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.size p {
  position: relative;
  padding-left: 20px;
  margin-left: 0;
  padding: 0 0 0 20px;
  margin: 5px 0px;
  text-decoration: underline;
}
.size p:hover {
  text-decoration: none;
  color: #00BCEB;
  cursor: url("images/cursor3.png") 32 32, pointer;
}
.size p::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 15px;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 9 15" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v15l9-7.5z" fill="%2300BCEB"/></svg>');
  background-repeat: no-repeat;
}

button {
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.5);
  background-color: #00BCEB;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 13px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 15px;
  cursor: url("images/cursor2.png"), auto;
}
button:hover {
  box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0.3);
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 928px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .card {
    border-right: none !important;
    border-bottom: 1px solid black;
    width: 100%;
  }
  .card:last-child {
    border-bottom: none;
  }
}/*# sourceMappingURL=styles.css.map */